.App {
  text-align: center;
}

h1, h2, h3, p, a {
  font-family: 'Montserrat', sans-serif;
}

header h1 {
  font-size: 4rem;
}

.navbar .nav-link {
  font-size: 14px;
  color: #f8f9fa;
}

.navbar .nav-link:hover, .navbar-nav {
  color: #dc3545;
  padding: 0.25rem 0.75rem;
}

nav .navbar-toggler:focus {
  box-shadow: none;
}

.language-buttons {
  position: absolute;
  right: 20px; /* расстояние от правого края экрана */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 15px; /* расстояние между кнопками */
}

.language-buttons button {
  background: none;
  border: none;
  color: #fff; /* белый текст, если navbar тёмный */
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
}

.language-buttons button:hover {
  color: #dc3545; /* цвет при наведении */
  text-decoration: none; /* или оставить подчеркивание */
}

.scale-hover-effect {
   transition: transform .5s ease-in-out;
}

.scale-hover-effect:hover {
  transform: scale(1.05);
}

.height-75 {
  height: 75vh;
}

.footer-social-icons li:hover svg {
  fill: #212529;
}

.footer-navigation li:hover{
  color: #212529;
}

@media only screen and (max-width: 1024px) {
  #basic-navbar-nav {
    background-color: #ffffffff;
    padding: 10px 20px;
    border-radius: 0.375rem;
  }

  .navbar .nav-link {
    color: #212529;
  }
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    font-size: 2rem;
  }
}